#gc {
  background-image: url(./background.jpg);
  background-size: 100%;
  z-index: 20;
  position: relative;
  width: 90%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    
    margin-right: -0.75rem;
    margin-left: -0.75rem;
  }
.col-lg-12{
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}
  
.col {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  @media (min-width: 992px) {
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
  }
  